<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include "common/header.html.twig" %}
		{% block body %}
			<h1>Symfony Demo</h1>
			<p>{{key}}</p>
			<p>{{Ynov}}</p>
			<ul>
				{% for label, item in tabs %}
					<li>
						<span style="color: red; margin-right: 10px">{{label}}</span>
						<span style="color: blue;">{{item}}</span>
					</li>
				{% endfor %}
			</ul>
		{% endblock %}
	</body>
</html>
